@import url("https://cdn.jsdelivr.net/gh/sunn-us/suit@latest/fonts/variable/woff2/SUIT-Variable.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "SUIT Variable", "SUIT", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans KR",
    "Apple SD Gothic Neo", "Helvetica Neue", Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
